@model SmartUni.Models.Student
@using SmartUni.Resources
@inject Localizations SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Details");
}

    <h2>@SharedLocalizer.GetLocalizedHtmlString("Details")</h2>

<div>
    <h4>@SharedLocalizer.GetLocalizedHtmlString("Student")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.ClassId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyStatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyStatus.StudyStatusDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudId">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>
