@model IEnumerable<SmartUni.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h2>Students</h2>

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Create", "Students")'">
        <i class="ace-icon fa glyphicon-plus bigger-110"></i>
        Create New
    </button>
</p>
<table id="simple-table" class="table  table-bordered table-hover col-md-6">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyStatus.StudyStatusDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
