@model SmartUni.Models.ExamSubject
@using SmartUni.Resources
@inject Localizations SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Details");
}

    <h2>@SharedLocalizer.GetLocalizedHtmlString("Details")</h2>

<div>
    <h4>@SharedLocalizer.GetLocalizedHtmlString("Student's Subject")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exam.ExamDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudSubject.StudId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>
