@model SmartUni.Models.StudentSubjectList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Tutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.Tutor.TutorId)
        </dd>
    </dl>
        <table id="simple-table" class="table  table-bordered table-hover col-md-6">
            <thead>
                <tr>
                    <th>
                        Student ID
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ if (Model.StudentSubjectListing.Count() == 0)
    {
                        <tr>
                            <td colspan="3" class="text-align-center">- No data available -</td>
                        </tr>
    }
    else
    {
                        @foreach (var item in Model.StudentSubjectListing)
{
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Student.StudId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Student.StudName)
                                </td>
                                <td>
                                </td>
                            </tr>
}
        }
    }
                    </tbody>
        </table>
        <a asp-controller="StudentSubjects" asp-action="Create" asp-route-id="@Model.Subject.SubjectId"><input id="btnAdd" type="button" value="Add student" class="btn btn-default" /></a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Subject.SubjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
