@model SmartUni.Models.StudentSubjectList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Tutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.Tutor.TutorId)
        </dd>
    </dl>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Student ID
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StudentSubjectListing)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.StudId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.StudName)
                        </td>
                        <td>
                            <input type="checkbox" value=@item.Student.StudId />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="StudentSubjects" asp-action="Create" asp-route-id="@Model.Subject.SubjectId"><input id="btnAdd" type="button" value="Add student" class="btn btn-default" /></a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Subject.SubjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>