@model IEnumerable<SmartUni.Models.Subject>

@{
    ViewData["Title"] = "Subjects";
}

<h2>Subjects</h2>

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Create", "Subjects")'">
        <i class="ace-icon fa glyphicon-plus bigger-110"></i>
        Create New
    </button>
</p>
<table id="simple-table" class="table  table-bordered table-hover col-md-6">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="col-md-5">
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td class="col-md-5">
                @Html.DisplayFor(modelItem => item.Tutor.TutorName)
            </td>
            <td class="col-md-2">
                <a asp-action="Edit" asp-route-id="@item.SubjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
