@model SmartUni.Models.Tutor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tutor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TutorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TutorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TutorStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TutorStatus.TutorStatusDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TutorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TutorType.TutorTypeDesc)
        </dd>
    </dl>
    <table id="simple-table" class="table  table-bordered table-hover col-md-6">
        <thead>
            <tr>
                <th class="center col-md-2">Subject ID</th>
                <th class="col-md-4">Subject Name</th>
            </tr>
        </thead>

        <tbody>
            @{ if (ViewBag.SubjectList == null)
    {
                    <tr>
                        <td colspan="2" class="text-align-center">- No data available -</td>
                    </tr>
    }
    else
    {
        List<Subject> SubjectList = ViewBag.SubjectList;

        foreach (var subject in SubjectList)
        {
                        <tr>
                            <td class="center">
                                <label class="pos-rel">@subject.SubjectId</label>
                            </td>

                            <td>
                                <a href="#">@subject.SubjectName</a>
                            </td>
                        </tr>
            }
        }
    }
            </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TutorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
