@model SmartUni.Models.Tutor
@using SmartUni.Resources
@inject Localizations SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Details");
}

    <h2>@SharedLocalizer.GetLocalizedHtmlString("Details")</h2>

<div>
    <h4>@SharedLocalizer.GetLocalizedHtmlString("Tutor")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TutorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TutorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TutorStatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TutorStatus.TutorStatusDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TutorTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TutorType.TutorTypeDesc)
        </dd>
    </dl>
    <table id="simple-table" class="table  table-bordered table-hover col-md-6">
        <thead>
            <tr>
                <th class="center col-md-2">@SharedLocalizer.GetLocalizedHtmlString("Subject ID")</th>
                <th class="col-md-4">@SharedLocalizer.GetLocalizedHtmlString("Subject Name")</th>
            </tr>
        </thead>

        <tbody>
            @{ if (ViewBag.SubjectList == null)
                {
                    <tr>
                                    <td colspan="2" class="text-align-center">@SharedLocalizer.GetLocalizedHtmlString("- No data available -")</td>
                    </tr>
                }
                else
                {
                    List<Subject> SubjectList = ViewBag.SubjectList;

                    foreach (var subject in SubjectList)
                    {
                        <tr>
                            <td class="center">
                                <label class="pos-rel">@subject.SubjectId</label>
                            </td>

                            <td>
                                <a asp-action="Details" asp-controller="Subjects" asp-route-id="@subject.SubjectId">@subject.SubjectName</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TutorId">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>
