@model IEnumerable<SmartUni.Models.Tutor>

@{
    ViewData["Title"] = "Tutors";
}

<h2>Tutors</h2>

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Create", "Tutors")'">
        <i class="ace-icon fa glyphicon-plus bigger-110"></i>
        Create New
    </button>
</p>
<table id="simple-table" class="table  table-bordered table-hover col-md-6">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TutorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorTypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TutorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorStatus.TutorStatusDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorType.TutorTypeDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TutorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TutorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TutorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
