@model IEnumerable<SmartUni.Models.TutorType>

@{
    ViewData["Title"] = "Tutor Type";
}

<h2>Tutor Type</h2>

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Create", "TutorType")'">
        <i class="ace-icon fa glyphicon-plus bigger-110"></i>
        Create New
    </button>
</p>
<table id="simple-table" class="table  table-bordered table-hover col-md-6">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TutorTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorTypeDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TutorTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorTypeDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TutorTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TutorTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TutorTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
