@model IEnumerable<SmartUni.Models.StudyStatus>

@{
    ViewData["Title"] = "Study Status";
}

<h2>Study Status</h2>

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Create", "StudyStatus")'">
        <i class="ace-icon fa glyphicon-plus bigger-110"></i>
        Create New
    </button>
</p>
<table id="simple-table" class="table  table-bordered table-hover col-md-6">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudyStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyStatusDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudyStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyStatusDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudyStatusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudyStatusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudyStatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
