@model SmartUni.Models.Exam
@using SmartUni.Resources
@inject Localizations SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Details");
}

    <h2>@SharedLocalizer.GetLocalizedHtmlString("Details")</h2>

<div>
    <h4>@SharedLocalizer.GetLocalizedHtmlString("Exam")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExamDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExamYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExamYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExamTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExamTerm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExamId">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a><br />
    <a asp-controller="ExamSubjects" asp-action="Create" asp-route-id="@Model.ExamId"><input id="btnAdd" type="button" value="@SharedLocalizer.GetLocalizedHtmlString("Register students")" class="btn btn-default" /></a>
    <a asp-controller="ExamSubjects" asp-action="Index" asp-route-examId="@Model.ExamId"><input id="btnAdd" type="button" value="@SharedLocalizer.GetLocalizedHtmlString("Register marks")" class="btn btn-default" /></a>
</div>
