@model SmartUni.Models.Class
@using SmartUni.Resources
@inject Localizations SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Details");
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("Details")</h2>

<div>
    <h4>@SharedLocalizer.GetLocalizedHtmlString("Class")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyLevelId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyLevel.StudyLevelDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TutorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.TutorId)
        </dd>
    </dl>
    <table id="simple-table" class="table  table-bordered table-hover col-md-6">
        <thead>
            <tr>
                <th class="center col-md-1">@SharedLocalizer.GetLocalizedHtmlString("Student ID")</th>
                <th class="col-md-6">@SharedLocalizer.GetLocalizedHtmlString("Student Name")</th>
                <th class="center col-md-3">@SharedLocalizer.GetLocalizedHtmlString("Study Status")</th>
            </tr>
        </thead>

        <tbody>
            @{ if (ViewBag.StudentList == null)
                {
                    <tr>
                        <td colspan="3" class="text-align-center">@SharedLocalizer.GetLocalizedHtmlString("-No data available -")</td>
                    </tr>
                }
                else
                {
                    List<ClassStudentList> StudentList = ViewBag.StudentList;

                    foreach (var student in StudentList)
                    {
                        <tr>
                            <td class="center">
                                <label class="pos-rel">@student.StudId</label>
                            </td>

                            <td>
                                <a href="/Students/Details/@student.StudId">@student.StudName</a>
                            </td>
                            <td class="center">
                                <label class="pos-rel">@student.StudyStatusDesc</label>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClassId">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>
