@model IEnumerable<SmartUni.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

<h2>Classes</h2>

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Create", "Class")'">
        <i class="ace-icon fa glyphicon-plus bigger-110"></i>
        Create New
    </button>
</p>
<table id="simple-table" class="table  table-bordered table-hover col-md-6">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyLevel.StudyLevelDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.TutorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
