@model IEnumerable<SmartUni.Models.TutorStatus>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TutorStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorStatusDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TutorStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorStatusDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TutorStatusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TutorStatusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TutorStatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
