@model IEnumerable<SmartUni.Models.TutorStatus>
@using SmartUni.Resources
@inject Localizations SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Tutor Status");
}

    <h2>@SharedLocalizer.GetLocalizedHtmlString("Tutor Status")</h2>

<p>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Create", "TutorStatus")'">
        <i class="ace-icon fa glyphicon-plus bigger-110"></i>
        @SharedLocalizer.GetLocalizedHtmlString("Create New")
    </button>
</p>
<table id="simple-table" class="table  table-bordered table-hover col-md-6">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TutorStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorStatusDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.Count() == 0)
            {
                <tr>
                            <td colspan="3" class="text-align-center">@SharedLocalizer.GetLocalizedHtmlString("- No data available -")</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TutorStatusId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TutorStatusDesc)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TutorStatusId">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
                            <a asp-action="Details" asp-route-id="@item.TutorStatusId">@SharedLocalizer.GetLocalizedHtmlString("Details")</a> |
                            <a asp-action="Delete" asp-route-id="@item.TutorStatusId">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
